<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css">


  <title>Document</title>
</head>
<body>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" id="title">
      <li class="breadcrumb-item" ><a href="/">Home</a></li>
      <li class="breadcrumb-item" ><a href="/post">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/about"></a>About</li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="/login">Login</a>
      </li>
    </ol>
  </nav>


  <div class="col-md-3 ">
    <div class="list-group ">
         <a href="/Dashboard" class="list-group-item list-group-item-action">Dashboard</a>
         <a href="#" class="list-group-item list-group-item-action active">Post</a>
       </div>
</div>

{% for post in list_user_p %}
        
          <div class="card w-40">
            <div class="card-body" id="div">
                <img src={{post.img_link}} class="card-img-top" alt="..." id="height">
              <h5 class="card-title" id="super">{{post.Title}}</h5>
              <p class="card-text">Đây là đoạn giới thiệu ...</p>
              <a href="/detail/{{loop.index0}}" class="btn btn-primary">Show more</a>
            </div>
          </div>
        
        
        {% endfor %}
</body>
</html>