<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="../static/style.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" id="title">
    <li class="breadcrumb-item" ><a href="/">Home</a></li>
    <li class="breadcrumb-item" ><a href="/post">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/about"></a>About</li>
    <li class="breadcrumb-item active" aria-current="page">
      <a href="/login">Login</a>
    </li>
  </ol>
</nav>
<div class="container">
  <div class="row">
  		<div class="col-md-3 ">
          <div class="list-group ">
               <a href="/Dashboard" class="list-group-item list-group-item-action">Dashboard</a>
               <a href="/post" class="list-group-item list-group-item-action active">Post</a>
               <a href="#" class="list-group-item list-group-item-action">Media</a>  
             </div> 
        </div>
    #
    <div class="row" id="thu">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body" id="div">
                <img src={{a2[0]}} class="card-img-top" alt="..." id="height">
              <h5 class="card-title" id="super">{{a1}}</h5>
              <p class="card-text">Đây là đoạn giới thiệu ...</p>
              <a href="/image1" class="btn btn-primary">Show more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body" id="div">
                <img src={{b2[0]}} class="card-img-top" alt="..." style="height: 428px" >
              <h5 class="card-title" id="super">{{b1}}</h5>
              <p class="card-text">Đây là đoạn giới thiệu ...</p>
              <a href="/image2" class="btn btn-primary">Show more</a>
            </div>
          </div>
        </div>
      </div>
      <p></p>
      
      <div class="row" id="thu">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" id="div">
                  <img src={{c2[0]}} class="card-img-top" alt="..." id="height"> 
                <h5 class="card-title" id="super">{{c1}}</h5>
                <p class="card-text">Đây là đoạn giới thiệu ...</p>
                <a href="/image3" class="btn btn-primary">Show more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" id="div">
                  <img src={{d2[0]}} class="card-img-top" alt="..." id="height"> 
                <h5 class="card-title" id="super">{{d1}}</h5>
                <p class="card-text">Đây là đoạn giới thiệu ...</p>
                <a href="image4" class="btn btn-primary">Show more</a>
              </div>
            </div>
          </div>
        </div>



        <p>
        </p>

        <div class="row" id="thu">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" id="div">
                    <img src={{e2[0]}} class="card-img-top" alt="..." id="height">
                  <h5 class="card-title" id="super">{{e1}}</h5>
                  <p class="card-text">Đây là đoạn giới thiệu ...</p>
                  <a href="image5" class="btn btn-primary">Show more</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" id="div">
                    <img src={{f2[0]}} class="card-img-top" alt="..." id="height">
                  <h5 class="card-title" id="super">{{f1}}</h5>
                  <p class="card-text">Đây là đoạn giới thiệu ...</p>
                  <a href="image6" class="btn btn-primary">Show more</a>
                </div>
              </div>
            </div>
          </div>
          <p></p>
  
  
  
          
          <div class="row" id="thu">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body" id="div">
                      <img src={{g2[0]}} class="card-img-top" alt="..." id="height">
                    <h5 class="card-title" id="super">{{g1}}</h5>
                    <p class="card-text">Đây là đoạn giới thiệu ...</p>
                    <a href="image7" class="btn btn-primary">Show more</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body" id="div">
                      <img src={{h2[0]}} class="card-img-top" alt="..." id="height">
                    <h5 class="card-title" id="super">{{h1}} </h5>
                    <p class="card-text">Đây là đoạn giới thiệu ...</p>
                    <a href="image8" class="btn btn-primary">Show more</a>
                  </div>
                </div>
              </div>
            </div>
  #

</div>
</div>