<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Wanderer's Diary</title>
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 700px;
      margin: 1.1%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    input[type="button"] {
      background: red;
      color: white;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
  </style>
</head>
<body id="body">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="title">
          <li class="breadcrumb-item" ><a href="/">Home</a></li>
          <li class="breadcrumb-item" ><a href="/post">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="/about"></a>About</li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="/login">Login</a>
          </li>
        </ol>
      </nav>



        <h2 style="padding: 15px;">Google Map here</h2>
        
<div id="map"></div>
  <script>
    var locations = [
      ['Đà Lạt', 11.939682, 108.441988, 4],
      ['Thành Phố Hồ Chí Minh', 10.775313, 106.706456, 5],
      ['Đà Nẵng', 16.063048, 108.229772, 3],
      ['Hà Nội', 21.029545, 105.851479, 2],
      ['Thị Trấn Sapa', 22.335549, 103.842246, 1]
    ];  
      // When the user clicks the marker, an info window opens.

      function initMap() {
        var hanoi = {lat: 21.029545, lng: 105.851479};
        var danang = {lat: 16.063048, lng: 108.229772};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: hanoi
        });
        setMarkers(map);
        
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
      
      }

      function setMarkers(map) {
        for (i = 0; i < locations.length; i++) {
          var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">{{ locati[i] }}</h1>'+'<img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Th%C3%A1p_R%C3%B9a_6.jpg" alt = "Hanoi" style="width:128px;height:128px>'+
            '<div id="bodyContent">'+
            '<p><b>{{ locati[i] }}</b>, is Vietnam\'s capital and second largest city by population (7.7 million in 2015). The city mostly lies on the right bank of the <b>Red River</b>,' +
            'From 1010 until 1802, it was the most important political centre of Vietnam'+
            '<p> <a href="https://www.google.com" target="_blank">'+
            '<input type="button" value="Learn more" />'+'</a>'+ '</p>'+
            '</div>'+
            '</div>';  
          marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map,
        });
          marker.addListener('click', function() {
            if(!this.infoWindow) {
              this.infoWindow = new google.maps.InfoWindow({
                content: contentString
              });
            }
            map.setZoom(11);
            this.infoWindow.open(map,this);
          })
        }

        // var marker = new google.maps.Marker({
        //   position: hanoi,
        //   map: map,
        //   title: 'Hà Nội'
        // });

        // marker.addListener('click', function() {
        //   infowindow.open(map, marker);
        // map.setZoom(10);
        // map.setCenter(marker.getPosition());
        // });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbr6vKYgg1HMP4dOgOVFkgN4cnkfHxGR0&callback=initMap">
    </script>
        

      <!-- <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=5&center=14.0583%2C108.2772&key=AIzaSyDbr6vKYgg1HMP4dOgOVFkgN4cnkfHxGR0" allowfullscreen></iframe> -->

      <div class="row" id="thu">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" id="div">
                  <img src={{a2[0]}} class="card-img-top" alt="..." id="height">
                <h5 class="card-title" id="super">{{a1}}</h5>
                <p class="card-text" >Đây là đoạn giới thiệu ...</p>
                <a href="/image1" class="btn btn-primary">Show more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" id="div">
                  <img src={{b2[0]}} class="card-img-top" alt="..." style="height: 428px" >
                <h5 class="card-title" id="super">{{b1}}</h5>
                <p class="card-text">Đây là đoạn giới thiệu ...</p>
                <a href="/image2" class="btn btn-primary">Show more</a>
              </div>
            </div>
          </div>
        </div>
        <p></p>
        
        <div class="row" id="thu">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" id="div">
                    <img src={{c2[0]}} class="card-img-top" alt="..." id="height"> 
                  <h5 class="card-title" id="super">{{c1}}</h5>
                  <p class="card-text">Đây là đoạn giới thiệu ...</p>
                  <a href="/image3" class="btn btn-primary">Show more</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" id="div">
                    <img src={{d2[0]}} class="card-img-top" alt="..." id="height"> 
                  <h5 class="card-title" id="super">{{d1}}</h5>
                  <p class="card-text">Đây là đoạn giới thiệu ...</p>
                  <a href="image4" class="btn btn-primary">Show more</a>
                </div>
              </div>
            </div>
          </div>



          <p>
          </p>

          <div class="row" id="thu">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body" id="div">
                      <img src={{e2[0]}} class="card-img-top" alt="..." id="height">
                    <h5 class="card-title" id="super">{{e1}}</h5>
                    <p class="card-text">Đây là đoạn giới thiệu ...</p>
                    <a href="image5" class="btn btn-primary">Show more</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body" id="div">
                      <img src={{f2[0]}} class="card-img-top" alt="..." id="height">
                    <h5 class="card-title" id="super">{{f1}}</h5>
                    <p class="card-text">Đây là đoạn giới thiệu ...</p>
                    <a href="image6" class="btn btn-primary">Show more</a>
                  </div>
                </div>
              </div>
            </div>
            <p></p>
    
    
    
            
            <div class="row" id="thu">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body" id="div">
                        <img src={{g2[0]}} class="card-img-top" alt="..." id="height">
                      <h5 class="card-title" id="super">{{g1}}</h5>
                      <p class="card-text">Đây là đoạn giới thiệu ...</p>
                      <a href="image7" class="btn btn-primary">Show more</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body" id="div">
                        <img src={{h2[0]}} class="card-img-top" alt="..." id="height">
                      <h5 class="card-title" id="super">{{h1}} </h5>
                      <p class="card-text">Đây là đoạn giới thiệu ...</p>
                      <a href="image8" class="btn btn-primary">Show more</a>
                    </div>
                  </div>
                </div>
              </div>
</body>
</html>