#thu{
    padding:10px 15px;
}
#body{
    background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
    background-size: 1463px;
    padding: 5%;
    background-size: cover;
    background-position: center;
    font-family: helvetica;
}
#title{
    background-color:rgb(92, 104, 105);
}
#div{
    background-color:whitesmoke;
    background-size: 773px;
}

#super{
    color:rgb(219, 0, 0);
}
#height{
    height:430px;
}
#login1{
    text-align: center;
    padding:150px 600px;
}
#login2{
    background-image: url("https://i.pinimg.com/originals/9b/a0/1d/9ba01df4c67988c025becc6d314c7383.jpg");
    background-repeat: no-repeat;
    background-size: 1463px;
}
#mo{
    opacity: 0.9;
}
#size{   
    height:900px;
}

