#thu{
    padding:10px 15px;
}
#body{
    background-image: url("https://i.ytimg.com/vi/Gsc0HtG6rTc/maxresdefault.jpg");
    background-size: 1463px;
    padding: 5%;
    background-size: cover;
    background-position: center;
    font-family: helvetica;
}
#post{
    background-image: url("http://thuthuatphanmem.vn/uploads/2018/05/23/wallpaper-4k-hinh-nen-4k-nhung-chiec-khinh-khi-cau-tren-bau-_40sGb_100012794.jpg");
    background-size: 1850px;
}

#title{
    background-color:rgb(92, 104, 105);
}
#div{
    background-color:whitesmoke;
    background-size: 773px;
}

#super{
    color:rgb(219, 0, 0);
}
#height{
    height:430px;
}
#login1{
    text-align: center;
    padding:150px 600px;
}
#login2{
    background-image: url("https://i.pinimg.com/originals/9b/a0/1d/9ba01df4c67988c025becc6d314c7383.jpg");
    background-repeat: no-repeat;
    background-size: 1463px;
}
#mo{
    opacity: 0.9;
}
#size{   
    height:900px;
}

