<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>
<body id="body">

  # các tiêu đề chính
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="title">
            <li class="breadcrumb-item" ><a href="#"> <strong> <i style="color:rgb(0, 255, 136)"> Post</i></strong></a></li>
          <li class="breadcrumb-item"><a href="#"> <strong> <i style="color:rgb(0, 255, 136)">Map</i></strong></a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="#" style="color:rgb(0, 255, 136)">Login</a>
          </li>
        </ol>
      </nav>

      <h2 style="color:rgb(255, 35, 119); font-family: cursive; font-size: 33px" id="thu">A few suggestions for you</h2>
    
      

      # mấy trang show more em sẽ thêm sau
      # làm màu thôi, ko liên quan đến cái đã bàn
      <div class="row" id="thu">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" id="div">
                  <img src="https://turkishairlines.ssl.cdn.sdlmedia.com/image/636062397404426260NC.jpg" class="card-img-top" alt="..." id="height">
                <h5 class="card-title" id="super">Tokyo</h5>
                <p class="card-text" >Đây là đoạn giới thiệu ...</p>
                <a href="#" class="btn btn-primary">Show more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" id="div">
                  <img src="https://i.ytimg.com/vi/ItbSlqpzSsM/maxresdefault.jpg" class="card-img-top" alt="..." style="height: 428px" >
                <h5 class="card-title" id="super">Ha Noi</h5>
                <p class="card-text">Đây là đoạn giới thiệu ...</p>
                <a href="#" class="btn btn-primary">Show more</a>
              </div>
            </div>
          </div>
        </div>
        <p></p>



        
        <div class="row" id="thu">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" id="div">
                    <img src="https://media2.s-nbcnews.com/j/streams/2013/May/130513/1C7355339-130513-betsy-dan-paris.social_share_1024x768_scale.jpg" class="card-img-top" alt="..." id="height"> 
                  <h5 class="card-title">Paris</h5>
                  <p class="card-text">Đây là đoạn giới thiệu ...</p>
                  <a href="#" class="btn btn-primary">Show more</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" id="div">
                    <img src="https://www.fodors.com/wp-content/uploads/2017/10/HERO_UltimateLondon_Hero_shutterstock412054315.jpg" class="card-img-top" alt="..." id="height"> 
                  <h5 class="card-title">London</h5>
                  <p class="card-text">Đây là đoạn giới thiệu ...</p>
                  <a href="#" class="btn btn-primary">Show more</a>
                </div>
              </div>
            </div>
          </div>



          <p>
          </p>

          <div class="row" id="thu">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body" id="div">
                      <img src="http://khoahocphattrien.vn/Images/Uploaded/Share/2016/12/06/0053.jpg" class="card-img-top" alt="..." id="height">
                    <h5 class="card-title">Berlin</h5>
                    <p class="card-text">Đây là đoạn giới thiệu ...</p>
                    <a href="#" class="btn btn-primary">Show more</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body" id="div">
                      <img src="http://khoahocphattrien.vn/Images/Uploaded/Share/2016/12/06/2.jpg" class="card-img-top" alt="..." id="height">
                    <h5 class="card-title">Islamabad </h5>
                    <p class="card-text">Đây là đoạn giới thiệu ...</p>
                    <a href="#" class="btn btn-primary">Show more</a>
                  </div>
                </div>
              </div>
            </div>
            <p></p>
    
    
    
            
            <div class="row" id="thu">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body" id="div">
                        <img src="http://khoahocphattrien.vn/Images/Uploaded/Share/2016/12/06/7807.jpg" class="card-img-top" alt="..." id="height">
                      <h5 class="card-title">Ottawa</h5>
                      <p class="card-text">Đây là đoạn giới thiệu ...</p>
                      <a href="#" class="btn btn-primary">Show more</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body" id="div">
                        <img src="http://khoahocphattrien.vn/Images/Uploaded/Share/2016/12/06/10.jpg" class="card-img-top" alt="..." id="height">
                      <h5 class="card-title">Athens </h5>
                      <p class="card-text">Đây là đoạn giới thiệu ...</p>
                      <a href="#" class="btn btn-primary">Show more</a>
                    </div>
                  </div>
                </div>
              </div>
</body>
</html>